<%= stylesheet_link_tag 'refinery/admin/page-video-dialog' %>

<div class='dialog dialog_area'>
  <div id='embed-video-list'>
    <%= render :partial => "embed" %>
  </div>
  <%= render :partial => "/refinery/admin/form_actions",
             :locals => {
               :f => nil,
               :cancel_url => '',
               :submit_button_id => "embed-video-submit",
               :submit_button_text => "Embed Video",
               :hide_submit => @raw_videos.empty?,
               :hide_cancel => false,
               :hide_delete => true,
               :cancel_title => nil
             } if @app_dialog or @raw_videos.any? or searching? %>
</div>
<script>
  $(function () {
    $('#embed-video-list a').attr('data-remote', 'true');
    $('#embed-video-list').<%= @raw_videos.empty? ? 'hide' : 'show' %>();
  });
</script>